{
    "presets": [
        ["blueflag", {
            "browser": true,
            "disabled": ["react"]
        }]
    ],
    "plugins": [
        "transform-flow-comments"
    ],
    "ignore": ["./lib"],
    "env": {
        "test": {
            "plugins": [
                "istanbul"
            ]
        }
    }
}
